<html>
<body>
	<p>
		<b>Name of the Collection: </b><%= @col.name %>
		</p>
	<p>
		<b>Description: </b><%= @col.description %>
		</p>
   <h2><font size="2" face="calibri" color="black">
	 <p><a href = "/collections/<%= @col.id %>/artworks">View Artwork</a></p></font></h2>	
	<h2><font size="2" face="calibri" color="black">
		 <p><a href = "/collections">Back</a></p></font></h2>
	</body>
</html>